<h2>Home Page for: <%=@user.username%> </h2>

<h3>Statistics</h3>
<ul>
  <li>Numer of flights: <%=@user.flight_records.size%></li>
  <li>Total flight hours:<%=@user.flight_hours.round(1)%></li>
  <li>Total landings:    <%=@user.number_of_landings%></li>
</ul>

<a href="/flight_records/new">Log a new flight</a>

<h4>Previous Flights</h4>
<ul>
  <%@user.flight_records.each do |flight| %>
    <li>Date: <%=flight.date%>, Aircraft: <%=flight.aircraft_type%><a href="/flight_records/<%=flight.id%>"> Details</a></li>
  <%end%>
</ul>
