<h2>Home Page for: <%=@user.username%> </h2>

<table>
  <caption>Cumulative Statistics</caption>
  <tr>
    <th>Flight logs</th>
    <th>Flight Hours</th>
    <th>Landings</th>
  </tr>

  <tr>
    <td><%=@user.flight_records.size%></td>
    <td><%=@user.flight_hours.round(1)%></td>
    <td><%=@user.number_of_landings%></td>
  </tr>
</table>
<br>
<table>
  <caption>Previous Flights</caption>
  <tr>
    <th>Date</th>
    <th>Aircraft Type</th>
    <th>Duration(mins)</th>
    <th>Inspect</th>
  </tr>

  <%@user.flight_records.each do |flight| %>
  <tr>
    <td><%=flight.date%></td>
    <td><%=flight.aircraft_type%></td>
    <td><%=flight.duration%></td>
    <td><a href="/flight_records/<%=flight.id%>">Details</a></td>
  </tr>
  <%end%>

</table>

<br><a href="/flight_records/new">Log a new flight</a>
