<h2>Edit Flight Record for: <%=@flight_record.user.username%></h2>


<form action="/flight_records/<%=@flight_record.id%>" method="POST">

  <table>
    <caption>Flight Record</caption>
    <tr>
      <th>Date</th>
      <th>Aircraft</th>
      <th>From</th>
      <th>To</th>
      <th>Landings</th>
      <th>Duration</th>
    </tr>

    <tr>
      <td><input  type="date" name="date" id="date" value=<%=@flight_record.date%>></input></td>
      <td><input  type="text" name="aircraft_type" id="aircraft_type" value="<%=@flight_record.aircraft_type%>"></input></td>
      <td><input  type="text" name="from" id="from"value="<%=@flight_record.from%>"></input></td>
      <td><input  type="text" name="to" id="to" value="<%=@flight_record.to%>"></input></td>
      <td><input  type="text" name="remarks" id="remarks" value="<%=@flight_record.remarks%>"></input</td>
      <td><input  type="integer" name="duration" id="duration" value="<%=@flight_record.duration%>"></input></td>
    </tr>
  </table>
<br>

  <input type="submit" value="Update" id="submit">
</form>
