<h3>Flight Record Page for <%=@flight_record.user.username%></h3>

<h5>Flight Record</h5>
<h5>Date:  <%=@flight_record.date%></h5>
<h5>Aircraft type:  <%=@flight_record.aircraft_type%></h5>
<h5>From:  <%=@flight_record.from%></h5>
<h5>To:  <%=@flight_record.to%></h5>
<h5>Num Landings:  <%=@flight_record.num_landings%></h5>
<h5>Duration:  <%=@flight_record.duration%></h5>

<form action="/flight_records/<%= @flight_record.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

<form action="/flight_records/<%= @flight_record.id %>/edit" method="get">
  <input type="submit" value="Edit">
</form>

<form action="/users/current_user" method="get">
  <input type="submit" value="Home">
</form>
