<h3>Flight Record Inspect Page</h3>

<table>
  <caption>Flight Record</caption>
  <tr>
    <th>Date</th>
    <th>Aircraft</th>
    <th>From</th>
    <th>To</th>
    <th>Landings</th>
    <th>Duration</th>
  </tr>

  <tr>
    <td><%=@flight_record.date%></td>
    <td><%=@flight_record.aircraft_type%></td>
    <td><%=@flight_record.from%></td>
    <td><%=@flight_record.to%></td>
    <td><%=@flight_record.num_landings%></td>
    <td><%=@flight_record.duration%></td>
  </tr>
</table>
<br>


<form action="/flight_records/<%= @flight_record.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

<form action="/flight_records/<%= @flight_record.id %>/edit" method="get">
  <input type="submit" value="Edit">
</form>

<form action="/users/<%= @flight_record.user.id %>" method="get">
  <input type="submit" value="Home">
</form>
